@import "./colors";
@import "./components";
@import "./mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: "Open Sans", sans-serif;
}

.header {
	min-height: 75vh;
	background-image: url("../img/bg-hero-mobile.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__box-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0 1em;
		margin-top: 7em;
	}
	&__heading {
		font-size: 2.2rem;
		margin-bottom: 1.5em;
		font-family: "Poppins", sans-serif;
	}
	&__text {
		margin-bottom: 2em;
		width: 100%;
		max-width: 550px;
		font-size: 1.6rem;
		line-height: 1.6em;
	}
	&__button {
		padding: 1.5em 4em;
		background-color: $pink;
		color: $white;
		font-weight: 700;
		border: none;
		border-radius: 25px;
		cursor: pointer;
	}

	&__box-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin-top: 3em;

		img {
			width: 100%;
			max-width: 650px;
		}
	}
}

.nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1em;

	&__logo {
		img {
			width: clamp(100px, 50%, 200px);
		}
	}

	&__button {
		padding: 0.7em 0;
		background-color: $white;
		border: none;
		border-radius: 25px;
		box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
		font-weight: 700;
		cursor: pointer;
		width: 150px;

		&::before {
			background-color: $white-button-hover;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__heading {
			font-size: 2.8rem;
		}
		&__text {
			font-size: 2rem;
		}
		&__button {
			padding: 1.5em 6em;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		padding-top: 7em;
		background-image: url("../img/bg-hero-desktop.svg");

		&__box {
			flex-direction: row;
		}

		&__box-info {
			margin-top: 0;
			text-align: left;
			align-items: flex-start;
			margin-right: 4em;
		}
		&__heading {
			font-size: 4rem;
			margin-bottom: 1em;
		}
		&__button {
			font-size: 1.6rem;
			border-radius: 30px;
		}
	}
	.nav {
		padding-top: 2em;

		&__button {
			width: unset;
			padding: 1em 4em;
		}
	}
}
